.footer{
  padding: 2rem 6rem;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer i{
  color: white;
  font-size: 2rem;
  margin-left: 1rem;
}

.footer i:hover{
  color: #01959a;
}

@media screen and (max-width: 850px){
  .footer{
    padding: 3rem 2rem;
  }
  .footer i{
    margin:1rem 1rem 0 0;
  
  }
}